.charmvalue {
  color: #444;
  overflow: hidden;
  box-sizing: border-box;
  .current-value {
    height: 1.8rem;
    background: url("../../images/charm/detail-bg.png") no-repeat center top/100% 100%;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    span{
      display: inline-block;
      margin-top: .6rem;
      font-size: .6rem;
    }
    .text{
      font-size: .13rem;
    }
  }
  .title {
    height: .4rem;
    padding: 0 .15rem;
    line-height: .4rem;
    background: rgb(253,252,253);
    border-bottom: 1px solid rgb(241,241,241);
    font-size: .15rem;

  }
  .wrapper{
    overflow: scroll;
    position: relative;
    .empty{
      width: .8rem;
      height: auto;
      position: absolute;
      left:50%;
      top:40%;
      transform: translate(-50%,-50%);
    }
  }
  .tabs-content {
    padding: 0 .15rem;
    width: 100%;
    box-sizing: border-box;
  }
  .row {
    height: .72rem;
  }
  .cell {
    display: inline-block;
    clear: right;
  }
  .type {
    height: .3rem;
    line-height: .3rem;
    padding-top: .14rem;
    font-size: .15rem;
    color: #111;
  }
  .time {
    height: .28rem;
    line-height: .28rem;
    padding-left: .3rem;
    background: url("../../images/charm/time.png") no-repeat left center/.13rem .13rem;
    font-size: .13rem;
    color: #666;
  }
  .value {
    float: right;
    font-size: .3rem;
    line-height: .72rem;
    text-align: right;
    color: #f7a437;
    position: relative;
    span{
      position: absolute;
      top:.2rem;
      right: .25rem;
      display: inline-block;
      line-height: .3rem;
      font-size: .3rem;
    }
  }
}