/* stylelint-disable */
.show{
  font-size: 0!important;
  position: relative;
  overflow: scroll;
  img{
    width: 100%;
    height: auto;
  }
  .back {
    display: inline-block;
    width: .34rem;
    height: .34rem;
    position: fixed;
    top: .3rem;
    left: .15rem;
    background: url("../../images/charm/back3.png") no-repeat center/.34rem .34rem;
    z-index: 999;
  }
}