/* stylelint-disable */
.sure-register{
  border-radius: .1rem;
  background: #fff;
}
.title{
  width: 2rem;
  text-align: center;
  font-size: .18rem;
  padding: .2rem 0;
}
.content{
  text-align: center;
  font-size: .14rem;
  padding-bottom: .2rem;
  margin: 0;
}
.btns{
  height: .4rem;
  border-top: .01rem solid #ccc;
  span{
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: .14rem;
    line-height: .4rem;
  }
  .cancel{
    color:#62c0c1 ;
    border-bottom-left-radius: .1rem;
  }
  .sure{
    background: #62c0c1;
    color: #fff;
    border-bottom-right-radius: .1rem;
  }
}